@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:
    "Plus Jakarta Sans",
    system-ui,
    -apple-system,
    sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition:
    background-color 0.5s ease,
    color 0.5s ease,
    border-color 0.5s ease,
    fill 0.5s ease,
    stroke 0.5s ease;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  padding: 0;
  margin: 0;
}

@media (hover: none) and (pointer: coarse) {
  * {
    user-select: none;
  }
}
